body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
}

button {
	padding: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	background-color: #1857ae;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}
h1,
h2 {
	color: #193784;
}
h3,
h4 {
	color: #1857ae;
	margin-bottom: 0;
}

nav {
	border-bottom: 4px solid #398dd1;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
}

nav a {
	text-decoration: none;
	color: #398dd1;
	font-weight: bold;
	padding: 16px 32px;
}

nav a:hover {
	background: #398dd1;
	color: white;
}

#page-body {
	max-width: 700px;
	margin: auto;
	padding-top: 64px;
}

.article-list-item {
	text-decoration: none;
	color: black;
	padding: 16px 0 0 0;
}

.article-list-item p {
	padding-bottom: 32px;
	border-bottom: 2px solid #398dd1;
}

#add-comment-form {
	border-bottom: 2px solid #398dd1;
	padding: 16px;
}

#add-comment-form h4 {
	color: darkgrey;
	margin-bottom: 10px;
}

#add-comment-form input,
textarea {
	display: block;
	width: 300px;
	padding: 8px;
	border-radius: 8px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	border: 2px solid #398dd1;
	margin-bottom: 16px;
}

#add-comment-form button {
	width: 320px;
}

#upvotes-section button,
p {
	display: inline-block;
	margin-right: 16px;
}

.comment {
	border-bottom: 2px solid #398dd1;
	padding: 16px;
}
